<div class="container text-center">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Notes</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th >Book</th>
            <th>Title</th>
            <th>Content</th>
            <th scope="col">Edit</th>
            <th scope="col">Destroy</th>
            <th scope="col">Export</th>
          </tr>
        </thead>

        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td><%= note.book_id %></td>
              <td><%= note.title %></td>
              <td><%= link_to 'Show', [@user,@book, note],class:'btn btn-info'  %></td>
              <td><%= link_to 'Edit', edit_user_book_note_path(@user,@book, note),class:'btn btn-secondary'  %></td>
              <td><%= link_to 'Destroy', [@user,@book, note], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %></td>
              <td><%= link_to 'Export', user_book_note_export_path(@user,@book, note) ,class:'btn btn-info'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Note', new_user_book_note_path(@book),class:'btn btn-primary'  %>
      <%= link_to 'Back', user_books_path , class:"btn btn-danger"%>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>