<p id="notice"><%= notice %></p>

<div class="container text-center">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Books</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Name</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Destroy</th>
      <th scope="col">Export All</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.user_id %></td>
        <td><%= book.name %></td>
        <td><%= link_to 'Show', user_book_notes_path(@user,book) , class:'btn btn-info'%></td>
        <% if book.name != "cuaderno_global" %>
          <td><%= link_to 'Edit', edit_user_book_path(@user, book),class:'btn btn-secondary' %></td>
          <td><%= link_to 'Destroy', [@user, book],class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_user_book_path(@user, book),class:'btn btn-secondary disabled' %></td>
          <td><%= link_to 'Destroy', [@user, book],class:'btn btn-danger disabled', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Export All', user_book_export_all_notes_path(@user,book) , class:'btn btn-info'%></td>
    <% end %>
    </tr>
  </tbody>
</table>
    <%= link_to 'Export All Books', user_export_all_path(@user),class:'btn btn-primary' %>
    <%= link_to 'New Book', new_user_book_path(@user),class:'btn btn-primary' %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>


